.footer-fix {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(../src/assets/Site-background-light.png);
}
.body {
    padding-top: 120px;
}
.nav-link {
    color: white !important;
}
#basic-nav-dropdown a {
    color: white;
}
@media (max-width: 650px) {
    .form-select {
        width: 55% !important;
        display: inline !important;
        text-align: center;
    }
}
@media (min-width: 650px) {
    .form-select {
        width: 25% !important;
        display: inline !important;
        text-align: center;
    }
}
@media (min-width: 1250px) {
    .form-select {
        width: 15% !important;
        display: inline !important;
        text-align: center;
    }
}
